// ==========================================================================
// Placeholders
// ==========================================================================

%panel-default {
  padding-top: em(30px);
  padding-bottom: em(20px);
}

%panel-padding {
  padding-top: em(55px);
  padding-bottom: em(34px);
}

// ========================================================================
// Center
// ========================================================================
%center-align {
	text-align: center;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

// ==========================================================================
// Clearfix
// ==========================================================================
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ==========================================================================
// Psuedo Elements
// ==========================================================================
%pseudos {
  display: block;
  content: '';
  position: absolute;
}